<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">New Advertisement</h3>
  </div>
  <div class="panel-body">
    <p><span class="label label-default">Title</span> <%= @advertisement.title %></p>
    <p><span class="label label-default">Copy</span> <%= @advertisement.copy %></p>
    <p><span class="label label-default">Price</span> <%= @advertisement.price %></p>
  </div>
</div>
